{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="background"></div>
    <div  class="ui middle aligned center aligned grid">
        <div class="column five wide doubling">
            <h2 class="ui black header">
                <img src="/assets/icons/climbing-adventure-silhouette-black.svg" class="ui image logo">
                <div class="content youth-power main-title">Eni Sortir</div>
            </h2>


            {% if app.user %}
                <div class="ui message">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <form method="post" class="ui large form">
                {% if error %}
                    <div class="ui error message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="ui stacked segment">
                    <div class="field">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                    </div>

                    <div class="field">
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <div class="ui checkbox" style="margin: 10px 0 20px 0">
                        <input type="checkbox" name="_remember_me">
                        <label>Se souvenir de moi</label>
                    </div>
                    <button class="ui fluid large green submit button" type="submit">
                        Sign in
                    </button>
                </div>

            </form>
            <div class="ui message">
                <p>Site web présenté par l'ENI et développé par Thomas R. et Yoann P.</p>
                <p>Icones crées par
                    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
                    sur le site
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </p>
            </div>
        </div>

    </div>
{% endblock %}
