{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}


    <div class="ui ten wide column semantic">
        <div>

        </div>
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm.lastName) }}
        {{ form_widget(registrationForm.firstName) }}
        {{ form_widget(registrationForm.phoneNumber) }}
        {{ form_widget(registrationForm.participantArea) }}
        {{ form_widget(registrationForm.plainPassword.first) }}
        {{ form_widget(registrationForm.plainPassword.second) }}
        {{ form_widget(registrationForm.isActive) }}
        {{ form_widget(registrationForm.imageUrl) }}

        <button class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
