{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}
{% block pageTitle %}Liste des sorties{% endblock %}

{% block main %}
    <form class="ui form" method="get" action="{{ path('trip_search') }}">
        <div class="ui container field">
            <div class="ui grid">
                <div class="ten wide column">
                    <div class="field">
                        <label>Site</label>
                        <select class="ui search dropdown" name="place">
                            <option value="">Tous</option>
                            {% for place in places %}
                                <option value="{{ place.id }}">{{ place.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="field">
                        <label>Recherche dans le nom :</label>
                        <div class="ui right icon input">
                            <i class="tags icon"></i>
                            <input type="text" placeholder="ex: 'Jeu de Rôle'" name="name"/>
                        </div>
                    </div>

                    <div class="field">
                        <label>Date de la sortie</label>
                        <div class="two fields">
                            <div class="ui calendar date-time field" ">
                                <div class="ui input left icon"  >
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Date de début"  name="startDate"/>
                                </div>
                            </div>
                            <div class="ui calendar date-time field">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Date de fin" name="endDate"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="six wide column" style="transform: translateY(18px)">
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="isOrganizer">
                            <label>Que j'ai organisé</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="isParticipantOn">
                            <label>Où je participe</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="isParticipantOff">
                            <label>Où je ne participe pas</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="isDone">
                            <label>Finies</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui center aligned container">
            <button class="ui blue button" type="submit">
                <i class="search icon"></i>
                Rechercher
            </button>
        </div>
    </form>
    <div class="ui horizontal divider">
        Liste
    </div>
    <div>
        <table class="ui celled padded table">
            <thead>
                <tr>
                    <th class="single line">Nom</th>
                    <th>Dates</th>
                    <th>Inscrits</th>
                    <th>Status</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for trip in trips %}
                <tr id="trip-{{ trip.id }}">
                    <td>
                        <b class="ui center aligned header">{{ trip.name }}</b>
                    </td>
                    <td class="single line">
                        11/09/2001
                    </td>
                    <td>
                        3/10
                    </td>
                    <td class="right aligned">
                        status
                    </td>
                    <td>
                        MOI
                    </td>
                    <td>
                        <a class="ui button" href="/trip/{{ trip.id }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div>
{% endblock %}
