{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}
{% block pageTitle %}Liste des sorties{% endblock %}

{% block main %}
    <form class="ui twelve wide column left aligned form" method="get" action="{{ path('trip') }}">
        <div class="ui container field">
            <div class="ui grid">
                <div class="ten wide column">
                    <div class="field">
                        <label>Sur le site de</label>
                        <select class="ui search dropdown" name="place">
                            <option value="">Tous</option>
                            {% for place in places %}
                                <option value="{{ place.id }}">{{ place.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="field">
                        <label>Recherche dans le nom</label>
                        <div class="ui right icon input">
                            <i class="tags icon"></i>
                            <input type="text" placeholder="ex: 'Jeu de Rôle'" name="name"/>
                        </div>
                    </div>

                    <div class="field">
                        <label>Sortie organisée entre</label>
                        <div class="two fields">
                            <div class="ui calendar date-time field">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Date de début"  name="startDate"/>
                                </div>
                            </div>
                            <div class="ui calendar date-time field">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Date de fin" name="endDate"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="six wide column" style="transform: translateY(18px)">
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="isOrganizer">
                            <label>Que j'ai organisé</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="isParticipantOn">
                            <label>Où je participe</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="isParticipantOff">
                            <label>Où je ne participe pas</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="isDone">
                            <label>Finies</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui center aligned container">
            <button class="ui blue button" type="submit">
                <i class="search icon"></i>
                Rechercher
            </button>
        </div>
    </form>
    <div class="ui sixteen wide column left aligned">
        <h2 class="ui header">
            <i class="calendar alternate outline icon"></i>
            <div class="content">
                Sorties trouvés : {{ pagination.getTotalItemCount }}
            </div>
        </h2>
        <table class="ui celled selectable table">
            <thead>
                <tr>
                    <th class="single line">Nom</th>
                    <th>Dates</th>
                    <th>Inscrits</th>
                    <th>Status</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for trip in pagination %}
                <tr id="trip-{{ trip.id }}">
                    <td>
                        <b class="ui center aligned">{{ trip.name }}</b>
                    </td>
                    <td class="ui list">
                        <div class="item">
                            <i class="calendar alternate outline icon"></i>
                            <div class="content">
                                <b>Sortie</b> pour le {{ trip.startDate|date('d/m/Y') }} à {{ trip.startDate|date('H:i') }}
                            </div>
                        </div>
                        <div class="item">
                            <i class="calendar times outline icon"></i>
                            <div class="content">
                                <b>Fin des inscriptions</b> le {{ trip.deadLineDate|date('d/m/Y') }} à {{ trip.deadLineDate|date('H:i') }}
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ trip.participants|length }}/{{ trip.maxRegistrationNumber }}
                    </td>
                    <td>
                        {{ trip.status.name }}
                    </td>
                    <td>
                        <img class="ui avatar image"
                             src="/assets/images/square-image.png"
                             alt="😉"
                             onload="this.src = getUserImage('{{ trip.organizer.username }}', [218, 218, 218, 255], true); this.onload = null"/>
                        <span>
                            {{ trip.organizer.firstname }}&nbsp;{{trip.organizer.lastname }}
                            {% if app.user == trip.organizer %}
                                &nbsp;( <b>Moi</b> )
                            {% endif %}
                        </span>
                    </td>
                    <td>
                        <div class="not-small-view mobile {{ is_granted('ROLE_ADMIN') ? 'not-admin-view' }}">
                            {% if trip.status.id != constant('App\\Entity\\TripStatus::CREATION') %}
                                <a class="ui right labeled icon secondary button" href="/trip/details/{{ trip.id }}">Afficher<i class="eye icon"></i></a>
                            {% endif %}
                            {% if trip.status.id != constant('App\\Entity\\TripStatus::CLOSED') %}
                                {% if app.user == trip.organizer %}

                                    {% if trip.status.id == constant('App\\Entity\\TripStatus::CREATION') %}
                                        <a class="ui right labeled icon button" href="/trip/edit/{{ trip.id }}">Modifier<i class="edit icon"></i></a>
                                        <a class="ui right labeled icon primary button" href="/trip/action/{{ trip.id }}/publish">Publier<i class="save icon"></i></a>
                                    {% elseif trip.status.id != constant('App\\Entity\\TripStatus::CANCELED') and trip.startDate|date('Y-m-d-H-i') > "now"| date('Y-m-d-H-i', 'Europe/Paris') %}
                                        <a class="ui right labeled icon negative button" href="/trip/action/{{ trip.id }}/cancel">Annuler<i class="times circle icon"></i></a>
                                    {% endif %}

                                {% elseif trip.status.id == constant('App\\Entity\\TripStatus::OPEN') or trip.status.id == constant('App\\Entity\\TripStatus::FULL') %}
                                    {% if app.user in trip.participants and trip.startDate | date('Y-m-d-H-i') > "now"| date('Y-m-d-H-i', 'Europe/Paris')  %}
                                        <a class="ui right labeled icon negative button" href="/trip/rem-participant/{{ trip.id }}">Se désister<i class="user times icon"></i></a>
                                    {% elseif trip.status.id == constant('App\\Entity\\TripStatus::OPEN') and trip.deadLineDate | date('Y-m-d-H-i') >  "now"| date('Y-m-d-H-i', 'Europe/Paris')  %}
                                        <a class="ui right labeled icon positive button" href="/trip/add-participant/{{ trip.id }}">S'inscrire<i class="user plus icon"></i></a>
                                    {% endif %}

                                {% endif %}

                                {% if is_granted('ROLE_ADMIN') and trip.status.id != constant('App\\Entity\\TripStatus::CANCELED') and app.user != trip.organizer %}
                                    <a class="ui right labeled icon negative button" href="/trip/action/{{ trip.id }}/cancel">Annuler<i class="times circle icon"></i></a>
                                {% endif %}

                            {% endif %}
                        </div>

                        <div class="ui small-view not-mobile {{ is_granted('ROLE_ADMIN') ? 'admin-view' }} floating dropdown right labeled icon primary button">
                            Menu
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {% if trip.status.id != constant('App\\Entity\\TripStatus::CREATION') %}
                                    <a class="ui secondary item" href="/trip/details/{{ trip.id }}"> <i class="eye icon"></i> Afficher </a>
                                {% endif %}
                                {% if trip.status.id != constant('App\\Entity\\TripStatus::CLOSED') %}
                                    {% if app.user == trip.organizer %}

                                        {% if trip.status.id == constant('App\\Entity\\TripStatus::CREATION') %}
                                            <a class="ui item" href="/trip/edit/{{ trip.id }}"> <i class="edit icon"></i> Modifier </a>
                                            <a class="ui primary item" href="/trip/action/{{ trip.id }}/publish"> <i class="save icon"></i> Publier </a>
                                        {% elseif trip.status.id != constant('App\\Entity\\TripStatus::CANCELED') and trip.startDate|date('Y-m-d-H-i') > "now"| date('Y-m-d-H-i', 'Europe/Paris') %}
                                            <a class="ui negative item" href="/trip/action/{{ trip.id }}/cancel"> <i class="times circle icon"></i> Annuler </a>
                                        {% endif %}

                                    {% elseif trip.status.id == constant('App\\Entity\\TripStatus::OPEN') or trip.status.id == constant('App\\Entity\\TripStatus::FULL') %}
                                        {% if app.user in trip.participants and trip.startDate | date('Y-m-d-H-i') > "now"| date('Y-m-d-H-i', 'Europe/Paris')  %}
                                            <a class="ui negative item" href="/trip/rem-participant/{{ trip.id }}"> <i class="user times icon"></i> Se désister </a>
                                        {% elseif trip.status.id == constant('App\\Entity\\TripStatus::OPEN') and trip.deadLineDate | date('Y-m-d-H-i') >  "now"| date('Y-m-d-H-i', 'Europe/Paris')  %}
                                            <a class="ui positive item" href="/trip/add-participant/{{ trip.id }}"> <i class="user plus icon"></i> S'inscrire </a>
                                        {% endif %}

                                    {% endif %}

                                    {% if is_granted('ROLE_ADMIN') and trip.status.id != constant('App\\Entity\\TripStatus::CANCELED') and app.user != trip.organizer  and trip.startDate|date('Y-m-d-H-i') > "now"| date('Y-m-d-H-i', 'Europe/Paris') %}
                                        <a class="ui negative item" href="/trip/action/{{ trip.id }}/cancel"> <i class="times circle icon"></i> Annuler</a>
                                    {% endif %}

                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui right floated pagination menu">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
