{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}
{% block pageTitle %}Liste des sorties{% endblock %}

{% block main %}
    <form class="ui twelve wide column left aligned form" method="get" action="{{ path('trip') }}">
        <div class="ui container field">
            <div class="ui grid">
                <div class="ten wide column">
                    <div class="field">
                        <label>Sur le site de</label>
                        <select class="ui search dropdown" name="place" id="place">
                            <option value="">Tous</option>
                            {% for place in places %}
                                <option value="{{ place.id }}">{{ place.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="field">
                        <label>Recherche dans le nom</label>
                        <div class="ui right icon input">
                            <i class="tags icon"></i>
                            <input type="text" placeholder="ex: 'Jeu de Rôle'" name="name" id="name"/>
                        </div>
                    </div>

                    <div class="field">
                        <label>Sortie organisée entre</label>
                        <div class="two fields">
                            <div class="ui calendar date-time field">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Date de début"  name="startDate" id="startDate"/>
                                </div>
                            </div>
                            <div class="ui calendar date-time field">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Date de fin" name="endDate" id="endDate"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="six wide column" style="transform: translateY(18px)">
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="isOrganizer" id="isOrganizer">
                            <label>Que j'ai organisé</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="isParticipantOn" id="isParticipantOn">
                            <label>Où je participe</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="isParticipantOff" id="isParticipantOff">
                            <label>Où je ne participe pas</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="isDone" id="isDone">
                            <label>Finies</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui center aligned container">
            <button class="ui blue button" type="submit">
                <i class="search icon"></i>
                Rechercher
            </button>
        </div>
    </form>
    <div class="ui sixteen wide column left aligned">
        <h2 class="ui header">
            <i class="calendar alternate outline icon"></i>
            <div class="content">
                Sorties trouvés : {{ pagination.getTotalItemCount }}
            </div>
        </h2>
        <table class="ui celled selectable linked rows table">
            <thead>
                <tr>
                    <th class="single line">Nom</th>
                    <th>Dates</th>
                    <th>Inscrits</th>
                    <th>Status</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for trip in pagination %}
                <tr id="trip-{{ trip.id }}"
                    data-href="{{ trip.status.id != constant('App\\Entity\\TripStatus::CREATION') ? '/trip/details/' ~ trip.id }}">
                    <td>
                        <a href="{{ trip.status.id != constant('App\\Entity\\TripStatus::CREATION') ? '/trip/details/' ~ trip.id }}"><b class="ui center aligned">{{ trip.name }}</b></a>
                    </td>
                    <td class="ui list">
                        <div class="item">
                            <i class="calendar alternate outline icon"></i>
                            <div class="content">
                                <b>Sortie</b> pour le {{ trip.startDate|date('d/m/Y') }} à {{ trip.startDate|date('H:i') }}
                            </div>
                        </div>
                        <div class="item">
                            <i class="calendar times outline icon"></i>
                            <div class="content">
                                <b>Fin des inscriptions</b> le {{ trip.deadLineDate|date('d/m/Y') }} à {{ trip.deadLineDate|date('H:i') }}
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ trip.participants|length }}/{{ trip.maxRegistrationNumber }}
                    </td>
                    <td>
                        {{ trip.status.name }}
                    </td>
                    <td>
                        <a href="/profile/detail/{{ trip.organizer.id }}">
                            <img class="ui avatar image"
                                 src="/assets/images/square-image.png"
                                 alt="😉"
                                 onload="this.src = getUserImage('{{ trip.organizer.username }}', '{{ trip.organizer.imageUrl }}', [218, 218, 218, 255], true); this.onload = null"/>
                            <span>
                            {{ trip.organizer.firstname }}&nbsp;{{trip.organizer.lastname }}
                                {% if app.user == trip.organizer %}
                                    &nbsp;( <b>Moi</b> )
                                {% endif %}
                        </span>
                        </a>
                    </td>
                    <td>
                        <div class="large ui two buttons">
                            {% if trip.status.id != constant('App\\Entity\\TripStatus::CLOSED') %}
                                {% if app.user == trip.organizer %}

                                    {% if trip.status.id == constant('App\\Entity\\TripStatus::CREATION') %}
                                        <a href="/trip/edit/{{ trip.id }}" class="ui vertical animated not-mobile button" tabindex="0">
                                            <div class="hidden content">Modifier</div>
                                            <div class="visible content">
                                                <i class="edit icon"></i>
                                            </div>
                                        </a>
                                        <a class="ui mobile left labeled icon button"
                                           href="/trip/edit/{{ trip.id }}"
                                        ><i class="edit icon"></i>Modifier</a>

                                        <a href="/trip/action/{{ trip.id }}/publish" class="ui vertical animated not-mobile primary button" tabindex="0">
                                            <div class="hidden content">Publier</div>
                                            <div class="visible content">
                                                <i class="save icon"></i>
                                            </div>
                                        </a>
                                        <a class="ui mobile left labeled icon primary button"
                                           href="/trip/action/{{ trip.id }}/publish"
                                        ><i class="save icon"></i>Publier</a>

                                    {% elseif trip.status.id != constant('App\\Entity\\TripStatus::CANCELED') and trip.startDate|date('Y-m-d-H-i') > "now"| date('Y-m-d-H-i', 'Europe/Paris') %}
                                        <a href="/trip/action/{{ trip.id }}/cancel" class="ui vertical animated not-mobile negative button" tabindex="0">
                                            <div class="hidden content">Annuler</div>
                                            <div class="visible content">
                                                <i class="times circle icon"></i>
                                            </div>
                                        </a>
                                        <a href="/trip/action/{{ trip.id }}/cancel"
                                           class="ui mobile left labeled icon negative button"
                                        ><i class="times circle icon"></i>Annuler</a>
                                    {% endif %}

                                {% elseif trip.status.id == constant('App\\Entity\\TripStatus::OPEN') or trip.status.id == constant('App\\Entity\\TripStatus::FULL') %}
                                    {% if app.user in trip.participants and trip.startDate | date('Y-m-d-H-i') > "now"| date('Y-m-d-H-i', 'Europe/Paris')  %}
                                        <a href="/trip/rem-participant/{{ trip.id }}" class="ui vertical animated not-mobile secondary button" tabindex="0">
                                            <div class="hidden content">Se désister</div>
                                            <div class="visible content">
                                                <i class="user times icon"></i>
                                            </div>
                                        </a>
                                        <a class="ui mobile left labeled icon negative button"
                                           href="/trip/rem-participant/{{ trip.id }}"
                                        ><i class="user times icon"></i>Se désister</a>
                                    {% elseif trip.status.id == constant('App\\Entity\\TripStatus::OPEN') and trip.deadLineDate | date('Y-m-d-H-i') >  "now"| date('Y-m-d-H-i', 'Europe/Paris')  %}
                                        <a href="/trip/add-participant/{{ trip.id }}" class="ui vertical animated not-mobile positive button" tabindex="0">
                                            <div class="hidden content">S'inscrire</div>
                                            <div class="visible content">
                                                <i class="user plus icon"></i>
                                            </div>
                                        </a>
                                        <a class="ui mobile left labeled icon positive button"
                                           href="/trip/add-participant/{{ trip.id }}"
                                        ><i class="user plus icon"></i>S'inscrire</a>
                                    {% endif %}

                                {% endif %}

                                {% if is_granted('ROLE_ADMIN') and trip.status.id != constant('App\\Entity\\TripStatus::CANCELED') and app.user != trip.organizer %}
                                    <a href="/trip/action/{{ trip.id }}/cancel" class="ui vertical animated not-mobile negative button" tabindex="0">
                                        <div class="hidden content">Annuler</div>
                                        <div class="visible content">
                                            <i class="times circle icon"></i>
                                        </div>
                                    </a>
                                    <a href="/trip/action/{{ trip.id }}/cancel"
                                       class="ui mobile left labeled icon negative button"
                                    ><i class="times circle icon"></i>Annuler</a>
                                {% endif %}

                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui right floated pagination menu">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(() => {
            if (window.location.search !== '') {
                const search = window.location.search.substr(1);
                const parameters = search.split('&');

                for (const parameter of parameters) {
                    const paramTab = parameter.split('=');

                    if (paramTab.length > 1 && document.getElementById(paramTab[0])) {

                        if (paramTab[0].includes('date') || paramTab[0].includes('Date')) {
                            document.getElementById(paramTab[0]).value = paramTab[1].replace('%3A', ':').replace('+', ' ');

                        } else if (document.getElementById(paramTab[0]).tagName === 'SELECT') {
                            if (paramTab[1] !== '') {
                                const select = document.getElementById(paramTab[0]);
                                for (const child of select.childNodes) {
                                    if (child.tagName === 'OPTION' && Number(child.value) === Number(paramTab[1])) {
                                        child.defaultSelected = true;

                                        select.parentNode.childNodes.forEach(value => {
                                            if (value.tagName === 'INPUT' && value.classList.contains('search')) {
                                                value.value = child.innerText;
                                            }
                                            if (value.tagName === 'DIV' && value.classList.contains('default') && value.classList.contains('text')) {
                                                value.innerText = '';
                                            }
                                        });
                                    }
                                }
                            }
                        } else if (document.getElementById(paramTab[0]).tagName === 'INPUT' && document.getElementById(paramTab[0]).type === 'checkbox') {
                            document.getElementById(paramTab[0]).checked = true;
                        } else {
                            document.getElementById(paramTab[0]).value = paramTab[1];
                        }
                    }
                }
            }
        });
    </script>
{% endblock %}