{% extends 'base.html.twig' %}

{% block title %}Panel admin{% endblock %}
{% block pageTitle %}Gestion des utilisateurs{% endblock %}

{% block main %}
    <div class="ui five wide middle aligned column grid">
        <label for="upload_csv_file" class="fourteen wide column">
            <div class="ui placeholder dragdrop segment" id="drop-zone">
                <h3 class="ui icon inverted header">
                    <i class="upload icon"></i>
                    Glissez un fichier .csv
                    <span class="sub header" id="csv-info">Pour importer des utilisateurs.</span>
                </h3>
                <button class="ui disabled primary button" id="csv-submit"
                        onclick="document.getElementById('csv-form').submit()">
                    <i class="file icon"></i>
                    Envoyer
                </button>
            </div>
        </label>
        {{ form_start(csv_form, { 'attr': { 'id': 'csv-form' } }) }}
        {{ form_widget(csv_form.file, { 'attr': { 'hidden': true, 'onchange': 'fileInputButton(this.files)' } }) }}

        {% if form_errors(csv_form.file) %}
            <div class="ui error message error-no-ul">
                {{ form_errors(csv_form.file) }}
            </div>
        {% endif %}

        {{ form_end(csv_form) }}
    </div>

    <div class="ui ten wide column left aligned piled segment">
        <h2 class="ui center aligned icon header">
            <i class="circular users icon"></i>
            Liste des utilisateurs
        </h2>
        <div class="ui divider"></div>
        <div class="ui middle aligned very relaxed divided list" style="overflow-y: scroll;overflow-x: hidden;max-height: 40vh;">
            {% for user in participants %}
            <div class="item">
                <img class="ui avatar image"
                     src="/assets/images/square-image.png"
                     alt="😉"
                     onload="this.src = getUserImage('{{ user.username }}', '{{ user.imageUrl }}'); this.onload = null">
                <div class="content">
                    {{ user.firstName }}&nbsp;{{ user.lastName }} ({{ user.username }})
                </div>
                <div class="right floated content">
                    <div class="ui two large buttons">
                        {% if user.isActive %}
                            <a class="ui negative button" href="/admin/action/{{ user.id }}/ban">Bannir</a>
                        {% else %}
                            <a class="ui positive button" href="/admin/action/{{ user.id }}/unban">Débannir</a>
                        {% endif %}
                            <div class="or" data-text="ou"></div>
                        <a class="ui secondary button" href="/admin/action/{{ user.id }}/delete">Supprimer</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        function dragInStyle(event) {
            event.preventDefault();
            document.getElementById('drop-zone').classList.add('dragged');
        }

        function dragOutStyle (event) {
            event.preventDefault();
            document.getElementById('drop-zone').classList.remove('dragged');
        }

        function fileInputButton(files) {
            if (files.length > 0) {
                document.getElementById('csv-submit').classList.remove('disabled');
                document.getElementById('csv-submit').classList.add('primary');
            } else {
                document.getElementById('csv-submit').classList.add ('disabled');
                document.getElementById('csv-submit').classList.remove('primary');
            }
        }

        $(document).ready(() => {

            document.getElementById('drop-zone').addEventListener('dragover', (event) => {dragInStyle(event)});
            document.getElementById('drop-zone').addEventListener('dragenter', (event) => {dragInStyle(event)});

            document.getElementById('drop-zone').addEventListener('dragleave', (event) => {dragOutStyle(event)});
            document.getElementById('drop-zone').addEventListener('dragend', (event) => {dragOutStyle(event)});
            document.getElementById('drop-zone').addEventListener('drop', (event) => {
                dragOutStyle(event);
                if (event.dataTransfer.files.length === 1 && event.dataTransfer.files[0].name.match(/^.*[.](?:csv)$/)) {
                    event.dataTransfer.files[0].type = 'text/csv';
                    document.getElementById('upload_csv_file').files = event.dataTransfer.files;
                    document.getElementById('csv-info').innerText = `Fichier chargé : ${event.dataTransfer.files[0].name}`;
                    document.getElementById('csv-info').classList.remove('red-text');
                    document.getElementById('csv-submit').classList.remove('disabled');
                    document.getElementById('csv-submit').classList.add('primary');
                } else {
                    document.getElementById('csv-info').innerText = `Le fichier chargé doit être un CSV`;
                    document.getElementById('csv-info').classList.add('red-text');
                    document.getElementById('csv-submit').classList.add('disabled');
                    document.getElementById('csv-submit').classList.remove('primary');
                }
            });
        });
    </script>
{% endblock %}