<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="/assets/css/semantic.min.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/css/calendar.min.css" />

        {% block stylesheets %}{% endblock %}

        <script src="/assets/js/jquery-3.4.1.min.js"></script>
        <script src="/assets/js/semantic.min.js"></script>
        <script src="/assets/js/sha1.min.js"></script>
        <script src="/assets/js/identicon.js-master/pnglib.js"></script>
        <script src="/assets/js/identicon.js-master/identicon.js"></script>
        <script src="/assets/js/calendar.min.js"></script>
        <script src="/assets/js/main.js"></script>

    </head>
    <body>
        {% block body %}
            {% set route = app.request.attributes.get('_route') %}

            <!-- Following Menu -->
            <div class="ui large top fixed not-mobile hidden inverted menu">
                <div class="ui container">
                    <div class="item">
                        <div class="top-nav main-title">
                            <img src="/assets/icons/climbing-adventure-silhouette-white.svg" class="main-logo">
                            <div class="content youth-power main-title black medium">Sortir <span class="blue-text">ENI</span></div>
                        </div>
                    </div>
                    <a class="{{ route starts with 'trip' ? 'active '}}item" href="/trip">Home</a>
                    {% if app.user %}
                        <a class="item">Mon compte</a>
                        <a class="item" href="/trip/add">Organiser une sortie</a>
                        <a class="item" href="/trip" target="_self">Rechercher une sortie</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="{{ route starts with 'register' ? 'active '}}item" href="/register">Créer un utilisateur</a>
                        {% endif %}
                        <a class="item" href="/logout" target="_self">Déconnexion</a>
                    {% else %}
                        <div class="right menu">
                            <div class="item">
                                <a class="ui button">Log in</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Sidebar Menu -->
            <div class="ui vertical sidebar inverted menu">
                <div class="item">
                    <div class="left-nav main-title">
                        <img src="/assets/icons/climbing-adventure-silhouette-white.svg" class="main-logo">
                        <div class="content youth-power main-title black medium">Sortir <span class="blue-text">ENI</span></div>
                    </div>
                </div>
                <a class="{{ route starts with 'trip' ? 'active '}}item" href="/trip">Home</a>
                {% if app.user %}
                    <a class="item">Compte</a>
                    <a class="item" href="/trip/add">Organiser une sortie</a>
                    <a class="item" href="/trip" target="_self">Rechercher une sortie</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="{{ route starts with 'register' ? 'active '}}item" href="/register">Créer un utilisateur</a>
                    {% endif %}
                {% else %}
                    <a class="item">Login</a>
                {% endif %}
            </div>

            <div class="pusher">
                <div class="ui vertical masthead center aligned segment">
                    <div class="background"></div>
                    <div>
                        <div class="ui large secondary pointing menu grid row">
                            <a class="toc left aligned item">
                                <i class="sidebar icon"></i>
                            </a>
                            <div class="mobile eight wide column center aligned segment">
                                <div>
                                    {% if app.user %}
                                        <img class="ui avatar image"
                                             src="/assets/images/square-image.png"
                                             alt="😉"
                                             id="profile-picture"
                                             onload="this.src = getUserImage('{{ app.user.username }}', '{{ app.user.imageUrl }}'); this.onload = null"/>
                                        <span>Bonjour, <b>{{ app.user.firstname }}</b> (<a href="{{ path('app_logout') }}">deconnexion</a>)</span>
                                    {% else %}
                                        <a class="ui black button" href="/login">Log in</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="not-mobile six wide column" style="display: flex; flex-direction: column; justify-content: center">
                                <div class="ui large secondary pointing menu">
                                    <a class="{{ route == '' ? 'active '}}item" href="/trip">Home</a>
                                    {% if app.user %}
                                        <a class="item">Compte</a>
                                        <div class="ui dropdown item {{ route starts with 'trip' ? 'link-active' }}">
                                            <span>
                                                {% if route starts with 'trip_add' %}
                                                    Organiser une sortie
                                                {% elseif route starts with 'trip_edit' %}
                                                    Modifier une sortie
                                                {% elseif route starts with 'trip' %}
                                                    Liste des sorties
                                                {% else %}
                                                    Sorties
                                                {% endif %}
                                            </span>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <a class="item" href="/trip/add">Organiser une sortie</a>
                                                <a class="item" href="/trip" target="_self">Rechercher une sortie</a>
                                            </div>
                                        </div>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="{{ route starts with 'register' ? 'active '}}item" href="/register">Créer un utilisateur</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="not-mobile four wide column">
                                <h2 class="center item main-title">
                                    <img src="/assets/icons/climbing-adventure-silhouette-black.svg" class="main-logo">
                                    <div class="content youth-power main-title black medium">Sortir <span class="blue-text">ENI</span></div>
                                </h2>
                            </div>

                            <div class="not-mobile six wide column" style="display: flex; flex-direction: column; justify-content: center">
                                <div>
                                    {% if app.user %}
                                        <img class="ui avatar image"
                                             src="/assets/images/square-image.png"
                                             alt="😉"
                                             id="profile-picture"
                                             onload="this.src = getUserImage('{{ app.user.username }}', '{{ app.user.imageUrl }}'); this.onload = null"/>
                                        <span>Bonjour, <b>{{ app.user.firstname }}</b> (<a href="{{ path('app_logout') }}">deconnexion</a>)</span>
                                    {% else %}
                                        <a class="ui black button" href="/login">Log in</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui text container">
                        <h1 class="ui header">
                            {% block pageTitle %}TEST{% endblock %}
                        </h1>
                    </div>
                </div>

                <div class="ui vertical stripe segment" style="min-height: 70vh">
                    <main class="ui center aligned stackable grid container">
                        {% block main %}{% endblock %}
                    </main>
                </div>

                <footer class="ui inverted vertical footer center aligned segment">
                    <div class="container">
                        <div class="ui stackable inverted divided equal height stackable grid">
                            <div class="six wide column">
                                <h4 class="ui inverted header">Images/icones</h4>
                                <div class="ui inverted link list">
                                    <a href="https://www.flaticon.com/" class="item">Flaticon</a>
                                    <a href="https://www.flaticon.com/authors/freepik" class="item">Freepik</a>
                                    <a href="https://www.dafont.com/youth-power.font" class="item">Police titre</a>
                                    <a href="https://pixnio.com/fr/nature-paysages/creek-stream-fr/bois-nature-foret-printemps-feuilles-vertes-paysage-feuille-arbre-eau-mousse-aquatique" class="item">Image de fond</a>
                                </div>
                            </div>

                            <div class="four wide column">
                                <p>Site web présenté par l'ENI et développé par Thomas R. et Yoann P.</p>
                                <p>Icones crées par
                                    <a href="https://www.flaticon.com/authors/freepik" title="Freepik"></a>
                                    sur le site
                                    <a href="" title="Flaticon">www.flaticon.com</a>
                                </p>
                            </div>

                            <div class="six wide column">
                                <h4 class="ui inverted header">Sources</h4>
                                <div class="ui inverted link list">
                                    <a href="https://semantic-ui.com/" class="item">Semantic UI</a>
                                    <a href="https://github.com/mdehoog/Semantic-UI-Calendar" class="item">Semantic UI Calendar</a>
                                    <a href="https://github.com/emn178/js-sha1" class="item">Librairie SHA-1</a>
                                    <a href="https://github.com/stewartlord/identicon.js" class="item">Librairie génération d'image de profil</a>
                                </div>
                            </div>
                            <div class="three wide column"></div>
                        </div>
                    </div>
                </footer>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
